* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;

  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
}

:root {
  /*==== color ====*/
  --black: rgb(27, 27, 27);
  --red: rgba(245, 25, 40, 1);
  --red-smooth: rgba(248, 52, 65, 1);
  --red-divider: rgba(248, 52, 65, 0.25);
  --white: #fafafa;
  --grey: rgb(94, 94, 94);

  font-size: 62.5%;
}
.button {
  display: inline-block;
  text-decoration: none;
  font-size: 2.5rem;
  font-weight: 300;
  color: #f51928;
  
  color: var(--white);
  background-color: var(--red-smooth);
  padding: 1.5rem;
  border-radius: 5px;
}

.divider-1 {
  height: 1px;
  width: 100%;
  background: linear-gradient(
    270deg, 
    var(--red-divider),
    var(--red) 
  );

  margin: 5rem 0;
}

.divider-2 {
  height: 1px;
  background: linear-gradient(
    270deg, 
    var(--red),
    var(--red-divider)
  );

  margin: 5rem 0;
}

body {
  height: 100vh;
  width: 100vw;
}
/*==== header ====*/

header {
  width: 100%;
  height: 7rem;
  background-color: var(--white);
  
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: var(--black);
  font-size: 2rem;
  font-weight: bold;
}

.logo span {
  font-size: 2rem;
  color: var(--white);
  background-color: var(--red);
  padding: 0px 0.25rem;
  font-weight: 400;
}

.title {
  color: var(--black);
}

.header-links {
  display: flex;
  gap: 1.5rem;
}

li {
  list-style: none;
}

.menu {
  width: 2.5rem;
  text-decoration: none;
}

/*==== main ====*/
main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
  width: 85%;
}

#home h1 {
  font-size: 3.5rem;
  font-weight: bold;
  color: var(--black);
  text-align: center;
  width: 40rem;
  margin-bottom: 4rem;
}

#home .img-01 {
  background-image: url(img/copy.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 27rem;
  width: 38rem;
  margin-bottom: 7rem;
  border-radius: 5px;
  position: relative;
}

#home .img-01::after {
  content: '';
  width: 38rem;
  height: 27rem;
  background-color: var(--red-smooth);
  position: absolute;
  z-index: -1;
  top: -2.5rem;
  right: -2.5rem;
  border-radius: 5px;
}

#about {
  width: 85%;
}

#about h2 {
  font-size: 3rem;
}

.text p {
  text-align: justify;
  text-indent: 3rem;
  color: var(--grey);
  margin: 1.5rem 0;
  overflow: hidden;
}

@media (max-width: 520px) {
  .title {
    display: none;
  }
}