:root {
  /*==== color ====*/
  --black: #0D0D0D;
  --red: #F21B2D;
  --red-smooth: #F25764;
  --red-divider: rgba(248, 52, 65, 0.25);
  --white-01: #ffffff;
  --white-02: #F2F2F2;
  --grey: rgb(94, 94, 94);

  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  background-color: var(--white-02);
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--red-smooth);
  border-radius: 10px;
}

section {
  width: 85%;
  max-width: 1100px;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;

  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: var(--black);
}

a:hover {
  color: var(--black);
}

.button {
  display: inline-block;
  text-decoration: none;
  font-size: 2.5rem;
  font-weight: 300;
  color: var(--red);

  color: var(--white-01);
  background-color: var(--red-smooth);
  padding: 1.5rem;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.button:hover {
  color: var(--white-01);
  background-color: var(--red);
}

.divider-1 {
  height: 1px;
  width: 100vw;
  background: linear-gradient(270deg, var(--red-divider), var(--red));

  margin: 7rem 0;
}

.divider-2 {
  height: 1px;
  width: 100vw;
  background: linear-gradient(270deg, var(--red), var(--red-divider));

  margin: 7rem 0;
}
/*==== header ====*/

header {
  width: 100vw;
  height: 7rem;
  background-color: var(--white-01);
  box-shadow: 0rem 0rem 2.5rem rgba(0, 0, 0, 0.25);

  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

nav {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: var(--black);
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
}

.logo span {
  font-size: 2rem;
  color: var(--white-01);
  background-color: var(--red);
  padding: 0px 0.25rem;
  font-weight: 400;
}

.title {
  color: var(--black);
}

.header-links {
  display: flex;
  gap: 1.5rem;
}

li {
  list-style: none;
}

.icon-menu {
  width: 2.5rem;
}

.icon-menu:hover {
  cursor: pointer;
}

nav .menu ul {
  display: none;
}

/*menu show*/
nav.show .menu {
  opacity: 1;
  visibility: visible;

  background-color: var(--white-01);

  min-height: 100vh;
  min-width: 100vw;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

  display: grid;
  place-content: center;
}

nav.show .menu ul {
  display: flex;
  flex-wrap: wrap;
  width: 25rem;
  justify-content: center;
  gap: 4rem;
}

nav.show a {
  font-size: 4rem;
  color: var(--grey);
  font-weight: bold;
  transition: color 0.3s;
}

nav.show .menu a:hover,
nav .menu a:hover {
  color: var(--red-smooth);
  position: relative;
}

nav.show .menu a::after,
nav .menu a::after {
  content: ' ';
  height: 2px;
  width: 0%;
  background-color: var(--red-smooth);
  position: absolute;
  left: 0;
  bottom: -1rem;

  transition: width 0.3s;
}

nav.show .menu a:hover::after,
nav .menu a:hover::after {
  width: 100%;
}

nav .icon-close {
  width: 2rem;
  position: fixed;
  right: 3.5rem;
  top: -8rem;
  transition: top 0.4s;
  z-index: 3;
}
 
nav.show .icon-close {
  top: 3.5rem;
  transition: top 0.3s;
}

nav .icon-close:hover {
  cursor: pointer;
}
/*==== main ====*/
main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15rem;
}

#home .text-01 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40rem;
}

#home h1 {
  font-size: 3.5rem;
  font-weight: bold;
  color: var(--black);
  text-align: center;
  margin-bottom: 4rem;
}

#home .img-01 {
  background-image: url(img/copy.webp);
  background-size: cover;
  background-repeat: no-repeat;
  height: 24rem;
  width: 35rem;
  margin-bottom: 7rem;
  border-radius: 5px;
  position: relative;
}

#home .img-01::after {
  content: '';
  height: 24rem;
  width: 35rem;
  background-color: var(--red-smooth);
  position: absolute;
  z-index: -1;
  top: -2.5rem;
  right: -2.5rem;
  border-radius: 5px;
}

/*about*/
#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#about h2 {
  font-size: 3rem;
  font-weight: bold;
}

#about .text p {
  text-align: justify;
  text-indent: 3rem;
  color: var(--grey);
  margin: 1rem 0;
}

.img-equipe {
  background-image: url(img/equipe.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 24rem;
  width: 35rem;
  border-radius: 5px;
  margin-bottom: 4rem;
  position: relative;
}

.img-equipe::after {
  content: ' ';
  height: 24rem;
  width: 35rem;
  background-color: var(--red-smooth);
  position: absolute;
  z-index: -1;
  top: 2.5rem;
  left: 2.5rem;
  border-radius: 5px;
}

/*services*/
#services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin-top: 2rem;
}

#services h2 {
  font-size: 3rem;
  font-weight: bold;
}

#services .text p {
  color: var(--grey);
  margin: 1rem 0;
  width: 38rem;
}

#services span {
  color: var(--red-smooth);
  font-weight: bold;
}

#services .cards {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

#services .card {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;

  min-height: 32rem;
  max-width: 38rem;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-bottom: 5px solid var(--red-smooth);
  padding: 4rem;
}

#services .icone {
  height: 6rem;
  margin-bottom: 3rem;
}

#services .description h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 1rem;
}

#services .description p {
  color: var(--grey);
  text-align: center;
}

/*clients*/
#clients {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

#clients .cards {
  display: grid;
  gap: 3rem;
}

#clients .text-04 {
  max-width: 45rem;
}

#clients .text-04 h2 {
  font-size: 3rem;
  font-weight: bold;
}

#clients .text-04 p {
  color: var(--grey);
  margin-bottom: 2rem;
}

#clients .d-block,
.carousel {
  width: 38rem;
  max-height: 27rem;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

#contact {
  margin-bottom: 7rem;
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

#contact h2 {
  font-size: 4rem;
  font-weight: bold;
}

#contact p {
  color: var(--grey);
}

#contact .cont-01 {
  display: grid;
  gap: 2rem;
  max-width: 40rem;
}

#contact .cont-01 a.button {
  width: 21.5rem;

  font-weight: 400;
  font-size: 2rem;
}

#contact .cont-01 a img {
  height: 2rem;
}

#contact .cont-02 {
  display: grid;
  gap: 2rem;
  max-width: 40rem;
  height: 17rem;
}

#contact .cont-02 div {
  display: flex;
  gap: 1rem;
}

#contact .cont-02 img {
  height: 2rem;
}

#footer a {
  font-size: 3rem;
}

#footer {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  gap: 4rem;

  padding-top: 3rem;

  height: 25rem;
  width: 100vw;
  background-color: var(--red-smooth);
}

#footer span {
  background-color: var(--white-02);
  color: var(--red);
  font-size: 3rem;
}

#footer .social {
  color: var(--white-02);
  display: flex;
  gap: 4rem;
}

#footer .social a {
  display: inline-block;
}

#footer svg {
  color: var(--white-02);
  height: auto;
  width: 3rem;
  transition: width 0.3rem;
}

#footer svg:hover  {
  color: var(--white-01);
  width: 3.5rem;
}

@media (min-width: 1000px) {
  nav .menu ul{
    display: show;
  }

  #home {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  #home .img-01 {
    min-width: 48rem;
    min-height: 32rem;
  }

  #home .img-01::after {
    min-width: 48rem;
    min-height: 32rem;
  }

  #home .text-01 {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    width: 40rem;
  }

  #home .text-01 h1 {
    text-align: left;
  }

  #home .text-01 .button {
    width: 17.5rem;
  }

  #about {
    flex-direction: row;
    justify-content: space-between;
  }

  #about .text-02 {
    width: 40rem;
  }

  #about .text-02 h2 {
    font-size: 4rem;
  }

  #about .text-02 p {
    font-size: 1.75rem;
  }

  #about .img-equipe {
    width: 48rem;
    height: 32rem;
  }

  #about .img-equipe::after {
    width: 48rem;
    height: 32rem;
    left: -2.5rem;
  }

  #services .text-03 h2 {
    font-size: 4rem;
    text-align: center;
  }

  #services .text-03 p {
    font-size: 1.75rem;
    text-align: center;
    width: 40rem;
  }

  #services .cards {
    display: flex;
    flex-direction: row;
    gap: 3rem;
  }

  #clients {
    align-items: center;
  }

  #clients .text-04 {
    margin-bottom: 5rem;
  }

  #clients .cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    width: 100%;
  }

  #contact {
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
  }

  #contact .cont-02 {
    height: 20rem;
  }

  #contact .cont-02 p {
    font-size: 1.75rem;
  }

  #contact .cont-02 img {
    height: 2.5rem;
  }

  #footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 8rem;
    padding-top: 0;
  }
 }