:root {
  /*==== color ====*/
  --black: rgb(27, 27, 27);
  --red: #f51928;
  --red-smooth: #f83441;
  --red-divider: rgba(248, 52, 65, 0.25);
  --white-01: #ffffff;
  --white-02: #fcfcfc;
  --grey: rgb(94, 94, 94);

  font-size: 62.5%;
  overflow-x: hidden;
}

section {
  width: 85%;
  max-width: 1100px;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;

  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: var(--black);
}

a:hover {
  color: var(--black);
}

.button {
  display: inline-block;
  text-decoration: none;
  font-size: 2.5rem;
  font-weight: 300;
  color: var(--red);

  color: var(--white-01);
  background-color: var(--red-smooth);
  padding: 1.5rem;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.button:hover {
  color: var(--white-01);
  background-color: var(--red);
}

.divider-1 {
  height: 1px;
  width: 100vw;
  background: linear-gradient(270deg, var(--red-divider), var(--red));

  margin: 7rem 0;
}

.divider-2 {
  height: 1px;
  width: 100vw;
  background: linear-gradient(270deg, var(--red), var(--red-divider));

  margin: 7rem 0;
}
/*==== header ====*/

header {
  width: 100vw;
  height: 7rem;
  background-color: var(--white-02);

  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: var(--black);
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
}

.logo span {
  font-size: 2rem;
  color: var(--white-01);
  background-color: var(--red);
  padding: 0px 0.25rem;
  font-weight: 400;
}

.title {
  color: var(--black);
}

.header-links {
  display: flex;
  gap: 1.5rem;
}

li {
  list-style: none;
}

.icon-menu {
  width: 2.5rem;
}

.icon-menu:hover {
  cursor: pointer;
}
nav .header-links {
  visibility: hidden;
  opacity: 0;
  display: none;
}

/*menu show*/
nav.show .header-links {
  display: show;
  opacity: 1;
  visibility: visible;
}

nav.show .menu {
  opacity: 1;
  visibility: visible;

  background-color: var(--white-01);

  min-height: 100vh;
  min-width: 100vw;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  display: grid;
  place-content: center;
}

nav.show .menu ul {
  display: flex;
  flex-wrap: wrap;
  width: 25rem;
  justify-content: center;
  gap: 4rem;
}

nav.show a {
  font-size: 4rem;
  color: var(--grey);
  font-weight: bold;
  transition: color 0.3s;
}

nav.show .menu a:hover,
nav .menu a:hover {
  color: var(--red-smooth);
  position: relative;
}

nav.show .menu a::after,
nav .menu a::after {
  content: ' ';
  height: 2px;
  width: 0%;
  background-color: var(--red-smooth);
  position: absolute;
  left: 0;
  bottom: -1rem;

  transition: width 0.3s;
}

nav.show .menu a:hover::after,
nav .menu a:hover::after {
  width: 100%;
}

nav .icon-close {
  width: 2rem;
  position: fixed;
  right: 3.5rem;
  top: -8rem;
  transition: top 0.4s;
  z-index: 2;
}
 
nav.show .icon-close {
  top: 3.5rem;
  transition: top 0.3s;
}

nav .icon-close:hover {
  cursor: pointer;
}
/*==== main ====*/
main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
}

#home h1 {
  font-size: 3.5rem;
  font-weight: bold;
  color: var(--black);
  text-align: center;
  margin-bottom: 4rem;
}

#home .img-01 {
  background-image: url(img/copy.webp);
  background-size: cover;
  background-repeat: no-repeat;
  height: 27rem;
  width: 38rem;
  margin-bottom: 7rem;
  border-radius: 5px;
  position: relative;
}

#home .img-01::after {
  content: '';
  width: 38rem;
  height: 27rem;
  background-color: var(--red-smooth);
  position: absolute;
  z-index: -1;
  top: -2.5rem;
  right: -2.5rem;
  border-radius: 5px;
}

/*about*/
#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#about h2 {
  font-size: 3rem;
}

#about .text p {
  text-align: justify;
  text-indent: 3rem;
  color: var(--grey);
  margin: 1rem 0;
}

#about .img-02 {
  border-radius: 5px;
  margin-bottom: 4rem;
}

.img-equipe {
  background-image: url(img/equipe.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 27rem;
  width: 38rem;
  border-radius: 5px;
  margin-bottom: 4rem;
  position: relative;
}

.img-equipe::after {
  content: ' ';
  height: 27rem;
  width: 38rem;
  background-color: var(--red-smooth);
  position: absolute;
  z-index: -1;
  top: 2.5rem;
  left: 2.5rem;
  border-radius: 5px;
}

/*services*/
#services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin-top: 2rem;
}

#services h2 {
  font-size: 3rem;
  font-weight: bold;
}

#services .text p {
  color: var(--grey);
  margin: 1rem 0;
  width: 38rem;
}

#services span {
  color: var(--red-smooth);
  font-weight: bold;
}

#services .card {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;

  height: 32rem;
  width: 38rem;
  max-width: 38rem;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-bottom: 5px solid var(--red-smooth);
  padding: 4rem;
}

#services .icone {
  height: 6rem;
  margin-bottom: 3rem;
}

#services .description h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 1rem;
}

#services .description p {
  color: var(--grey);
  text-align: center;
}

/*clients*/
#clients h2 {
  font-size: 3rem;
  font-weight: bold;
}

#clients p {
  color: var(--grey);
  margin-bottom: 4rem;
}

#clients .d-block,
.carousel {
  width: 38rem;
  height: 27rem;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}
#contact {
  margin-bottom: 10rem;
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

#contact h2 {
  font-size: 4rem;
  font-weight: bold;
}

#contact p {
  color: var(--grey);
}

#contact .cont-01 {
  display: grid;
  gap: 2rem;
}

#contact .cont-01 a.button {
  width: 21.5rem;

  font-weight: 400;
  font-size: 2rem;
}

#contact .cont-01 a img {
  height: 2rem;
}

#contact .cont-02 {
  display: grid;
  gap: 2rem;
}

#contact .cont-02 div {
  display: flex;
  gap: 1rem;
}

#contact .cont-02 img {
  height: 2rem;
}

#footer a {
  font-size: 3rem;
}

#footer {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;

  padding-top: 3rem;

  height: 25rem;
  width: 100vw;
  background-color: var(--red-smooth);
}

#footer span {
  background-color: var(--white-01);
  color: var(--red);
  font-size: 3rem;
}